.icon {
  height: auto !important;
}

.second {
  display: none;
}

.third {
  display: none;
}

#inputText {
  display: none;
}

.ui.icon.header.second {
  display: none;
}

body > .placeholder.segment {
  width: fit-content;
  margin: auto;
  margin-top: 5% !important;
  padding: 5% !important;
}

.txt-center {
  text-align: center;
}

#nextBtn {
  margin-top: 5px;
  display: none;
  width: 100%;
}

#submitBtn {
  margin-top: 5px;
  width: 100%;
}
