*.pyc
**.pyc
/backend/server/server/__pycache__/
/backend/server/apps/endpoints/__pycache__
/backend/server/apps/steganography/__pycache__
/backend/server/apps/steganography/__pycache__
**/test.py
**/steganography.py
**/migrations